/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes show-sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  transition: border-color 0.3s ease;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

svg.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

svg.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: 50% 50%;
  animation: heart-scale 0.3s 0.1s ease-in;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: show-sparks 0.3s 0.3s ease-in;
}

@media (hover: hover) and (pointer: fine) {
  .base_button:hover::after {
    transform: translateX(0);
  }

  .like-icon:hover .core {
    fill: var(--contour-color);
    transition: fill 0.3s;
  }

  .like-icon:hover .main-body {
    fill: var(--contour-color);
    transition: fill 0.3s 0.05s;
  }
}
