/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--page-bg);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.accent {
  font-family: var(--accent-font-family);
}

.header {
  display: flex;
  flex-direction: column;
  inline-size: var(--header__inline-size);
  block-size: var(--header__block-size);
  background-color: #fff;
  border: var(--accent-border);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 20px;
  margin-block-end: 100px;
}

.header__tag {
  font-size: var(--header__tag-font-size);
  line-height: 100%;
}

.header__caption {
  font-size: var(--header__caption-font-size);
  line-height: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  font-family: "Inter-Variable";
  font-size: var(--card__font-size);
  inline-size: var(--main__card__inline-size);
  background-color: #fff;
  border: var(--accent-border);
  /*  */
  inline-size: 375px;
  /*  */
}

.card__title {
  font-size: inherit;
  padding: 4px 10px 5px;
  border-block-end: var(--accent-border);
}

.card__img-wrapper {
  display: block;
  position: relative;
  aspect-ratio: 1/1;
  block-size: 100%;
  overflow: hidden;
}

.card__img {
  inline-size: calc(100% + 4px);
  block-size: calc(100% + 4px);
  object-fit: cover;
  object-position: calc(98% + 2px);
}

.watermark {
  position: absolute;
  right: clamp(11px, -5.1538px + 4.3077vw, 25px);
  top: 23px;
  mix-blend-mode: hard-light;
  font-size: var(--watermark-font-size);
  text-shadow: calc(-1 * var(--watermark-stroke-width)) 0
      var(--watermark-stroke-color),
    0 calc(-1 * var(--watermark-stroke-width)) var(--watermark-stroke-color),
    calc(var(--watermark-stroke-width)) 0 var(--watermark-stroke-color),
    0 calc(var(--watermark-stroke-width)) var(--watermark-stroke-color);
  opacity: 50%;
  text-transform: uppercase;
}

.card__content {
  border-block-start: var(--accent-border);
  padding: 25px;
}

.card__content p:first-child {
  margin-block-end: 27px;
}

@supports (
  (text-stroke: var(--watermark-stroke-width) var(--watermark-stroke-color)) or
    (
      -webkit-text-stroke: var(--watermark-stroke-width) var(--watermark-stroke-color)
    )
) {
  .watermark {
    -webkit-text-stroke: var(--watermark-stroke-width)
      var(--watermark-stroke-color);
    text-stroke: var(--watermark-stroke-width) var(--watermark-stroke-color);
    text-shadow: none;
  }
}
