/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--page-bg);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.accent {
  font-family: var(--accent-font-family);
}

.header {
  display: flex;
  flex-direction: column;
  inline-size: var(--header__inline-size);
  block-size: var(--header__block-size);
  background-color: #fff;
  border: var(--accent-border);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 20px;
  margin-block-end: 100px;
}

.header__tag {
  font-size: var(--header__tag-font-size);
  line-height: 100%;
}

.header__caption {
  font-size: var(--header__caption-font-size);
  line-height: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  font-size: var(--card__font-size);
  inline-size: var(--main__card__inline-size);
  background-color: #fff;
  border: var(--accent-border);
}

.card__title {
  font-size: inherit;
  padding: 4px 10px 5px;
  border-block-end: var(--accent-border);
}

.card__img-wrapper {
  display: block;
  position: relative;
  aspect-ratio: 1/1;
  block-size: 100%;
  overflow: hidden;
}

.card__img {
  inline-size: calc(100% + 4px);
  block-size: calc(100% + 4px);
  object-fit: cover;
  object-position: calc(98% + 2px);
}

.watermark {
  position: absolute;
  right: clamp(11px, -5.1538px + 4.3077vw, 25px);
  top: 23px;
  mix-blend-mode: hard-light;
  font-size: var(--watermark-font-size);
  text-shadow: calc(-1 * var(--watermark-stroke-width)) 0
      var(--watermark-stroke-color),
    0 calc(-1 * var(--watermark-stroke-width)) var(--watermark-stroke-color),
    calc(var(--watermark-stroke-width)) 0 var(--watermark-stroke-color),
    0 calc(var(--watermark-stroke-width)) var(--watermark-stroke-color);
  opacity: 50%;
}

.cards li:nth-child(-n + 3) .watermark {
  text-transform: uppercase;
}

.card__content {
  border-block-start: var(--accent-border);
  padding: 25px;
  line-height: 21px;
}

.card__content p {
  max-inline-size: 95%;
}

.card__content p:first-child {
  margin-block-end: 27px;
}

.button-wrapper {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  align-items: flex-start;
}

.card .button-wrapper {
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.card__icon-button {
}

.base_button {
  position: relative;
  overflow: hidden;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 90%;
  background-color: #fff;
  color: #fff;
  border: var(--accent-border);
}

.base_button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button-wrapper:hover .base_button::after {
  transform: translateX(0)
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.base_button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  display: inline-block;
  inline-size: 130px;
  block-size: 38px;
}



.img__0sprint {
}

.img__1-1sprint {
  filter: saturate(0.25);
}

.img__1-2sprint {
  filter: saturate(4);
}

.img__2-1sprint {
  filter: hue-rotate(45deg);
}

.img__2-2sprint {
  filter: invert(0.8);
}

.img__3-1sprint {
  filter: sepia(1);
}

.img__3-2sprint {
  filter: blur(10px);
}

.img__last {
  filter: hue-rotate(90deg) contrast(0.5) blur(1px);
}

.cards li:last-child .card {
  margin-block-end: 50px;
}

#save_button {
  align-self: center;
  justify-self: center;
}

.save_button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  inline-size: var(--save-button__width);
  gap: 8px;
  padding: 15px 20px;
}

.save_button .button__text {
  font-size: 14px;
  line-height: 90%;
}

.save-icon {
  block-size: var(--save-button_size);
  aspect-ratio: 1/1;
  position: relative;
  z-index: 1;
  filter: invert(1);
  mix-blend-mode: difference;
}

#floppy_dialog[open] {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr minmax(198px, 234px);
  grid-template-rows: 63px 38px;
  column-gap: 20px;
  row-gap: 30px;
  position: fixed;
  inset: 0;
  line-height: 150%;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  padding: var(--dialog-padding);
}

#floppy_dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

#floppy_dialog button {
  text-transform: inherit;
  inline-size: 100%;
  block-size: 100%;
}

#floppy_dialog form {
  grid-column: span 2;
  text-transform: uppercase;
  inline-size: 100%;
  block-size: 100%;
}

@supports (
  (text-stroke: var(--watermark-stroke-width) var(--watermark-stroke-color)) or
    (
      -webkit-text-stroke: var(--watermark-stroke-width) var(--watermark-stroke-color)
    )
) {
  .watermark {
    -webkit-text-stroke: var(--watermark-stroke-width)
      var(--watermark-stroke-color);
    text-stroke: var(--watermark-stroke-width) var(--watermark-stroke-color);
    text-shadow: none;
  }
}
